table td {
  padding-right: 15px;
  border: solid black 1px;
}

#center {
  text-align: center;
}

.confirm {
  border: 2px solid;
  padding: 5px;
  margin: auto;
  margin-top: 7px;
  margin-bottom: 7px;
  width: 200px;
  text-align: center;
  box-shadow: 3px 3px 3px black;
}



button:active {
  box-shadow: 2px 5px 1px;
}
