<body>
    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Confirm your session</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">

                </div>

                <div class="col-md-6">

                </div>

                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div id="center" class="box">
                <div class="col-lg-12">

                    <p>Please confirm your information and date</p>
                    <hr>
                    <div class="confirm"><%= session[:first_name] %><br></div>
             
                    <button>Confirm</button>
                    
                   


                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</body>