<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!-- Bootstrap Core CSS -->
  <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="stylesheets/business-casual.css" rel="stylesheet">

  <link rel="stylesheet" href="/stylesheets/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title>Golf Tee Time bookings</title>


  <!-- Fonts -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

  <script>
    $(document).ready(function(){
      $(":selected").css("background-color", "red");
    });
  </script>
  <script>

  $(document).ready(function() {
    
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      defaultDate: '2016-01-12',
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: [
        {
          title: 'All Day Event',
          start: '2016-01-01'
        },
        {
          title: 'Long Event',
          start: '2016-01-07',
          end: '2016-01-10'
        },
        {
          id: 999,
          title: 'Repeating Event',
          start: '2016-01-09T16:00:00'
        },
        {
          id: 999,
          title: 'Repeating Event',
          start: '2016-01-16T16:00:00'
        },
        {
          title: 'Conference',
          start: '2016-01-11',
          end: '2016-01-13'
        },
        {
          title: 'Meeting',
          start: '2016-01-12T10:30:00',
          end: '2016-01-12T12:30:00'
        },
        {
          title: 'Lunch',
          start: '2016-01-12T12:00:00'
        },
        {
          title: 'Meeting',
          start: '2016-01-12T14:30:00'
        },
        {
          title: 'Happy Hour',
          start: '2016-01-12T17:30:00'
        },
        {
          title: 'Dinner',
          start: '2016-01-12T20:00:00'
        },
        {
          title: 'Birthday Party',
          start: '2016-01-13T07:00:00'
        },
        {
          title: 'Click for Google',
          url: 'http://google.com/',
          start: '2016-01-28'
        }
      ]
    });
    
  });

</script>

  <title></title>
</head>
<body>
  <%= yield %>
</body>
</html>
