<body>
    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Enter your contact information</strong>
                    </h2>
                    <hr>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div id="center" class="col-lg-12">
                    <hr>
                    Booking time: <strong><%= session[:selected_date] %></strong> for party of <strong><%= session[:num_golfers] %></strong>
                    <form method="post" action="/registration" class="">
                        First name:<br>
                        <input class="confirm" type="text" name="first_name" required><br>
                        Last name:<br>
                        <input class="confirm" type="text" name="last_name" required><br>
                        Email:<br>
                        <input class="confirm" type="text" name="email" required><br>
                        Phone number:<br>
                        <input class="confirm" type="string" name="phone" required><br>
                        <input type="submit" value="Submit">
                    </form>


                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
        <!-- /.container -->
</body>